.app-container {
  display: flex;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 220px; /* Offset content to the right of the sidebar */
}

.sidebar {
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}
