.classes-container {
    padding: 20px;
  }
  
  .class-card {
    background: #181818;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .class-header {
    cursor: pointer;
  }
  
  .class-header h2 {
    margin: 0;
  }
  
  .students-table-container {
    margin-top: 15px;
  }
  
  .students-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .students-table th,
  .students-table td {
    border: 1px solid #4c4c4c;
    padding: 10px;
    text-align: center;
  }
  
  .students-table th {
    background-color: #007bff;
    color: white;
  }
  
  